# Dataframe
2 dimension data structures in Pandas, which is the core for all Data Science to know how to use on Data Analysis and Cleaning Tasks

They are two-axes labeled array

## Creating a Data Frame
Create it with `pd.DataFrame()` by throwing in the Series and index (optional)

In [27]:
import pandas as pd

c1 = pd.Series({'Name': 'Chris',
                'Item Purchased': 'Dog Food',
                'Cost': 22.5})

c2 = pd.Series({'Name': 'Kevyn',
                'Item Purchased': 'Kitty Litter',
                'Cost': 2.5})

c3 = pd.Series({'Name': 'Vinod',
                'Item Purchased': 'Bird Seed',
                'Cost': 5})

# Create a Data Frame
df = pd.DataFrame([c1, c2, c3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

Similar to Series, it can be called using `loc()` and `iloc()` attribute

In [8]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [9]:
df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5

In [10]:
df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

## Chain operation

In [12]:
# If we only interested in Store 1 costs, we could write it as df.loc('Store 1', 'Cost')
df.loc['Store 1']['Cost']

# or to use 
# df.loc('Store 1', 'Cost')

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

## Index Dataframe Slicing
With the `loc()` has two parameter (index and column), you can fill in the parameter with a list to get multiple values.

For example, get all values, but only Name and Cost

In [13]:
# Choose some column by all rows
df.loc[:, ['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

## Dropping Data
Drop a data with a `drop()` function.
This takes a single parameter of a index to drop.

Drop function doesnt change the DataFrame by default,
but returns you the **copy** of the dataframe with the given rows are removed

Drop has optional parameter,
- `place` : if set True, DataFrame will be updated in place (instead of a copy)
- `axis`: (default = 0 : dropping a row (index) and can be changed to 1 to drop column

In [28]:
dfcopy = df.copy().drop('Store 1') # Copy a DataFrame with `df.copy(_`
dfcopy

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

## Dropping a column
One way of dropping a column is through the use of indexing operator `del` keyword.

`del` takes effect immediately and does not return a view

In [ ]:
del dfcopy['Name']
dfcopy

In [25]:
dfcopy = df.copy()
dfcopy
dfcopy.drop('Name', axis=1)

        Item Purchased  Cost Location
Store 1       Dog Food  22.5     None
Store 1   Kitty Litter   2.5     None
Store 2      Bird Seed   5.0     None

## Adding a column
as easy as adding it with Broadcasting to the new column

In [23]:
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

## Dataframe Indexing
The common workflow is :

Read data -> Dataframe -> Reduce dataframe to columns that you are interested in

But it means that manipulating the data on dataframe will effect base dataframe you use

In [34]:
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

In [35]:
costs = df['Cost']
costs += 2
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  24.5     None
Store 1  Kevyn   Kitty Litter   4.5     None
Store 2  Vinod      Bird Seed   7.0     None

## Reading a CSV file

In [37]:
df = pd.read_csv('Resource/olympics.csv',
                 index_col=0,
                 skiprows=1)
# Use index_col to set the row number that is a index
# Use skiprows to skip unwanted rows
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

## Set column name
You can set the column name in the CSV
or you can set it with name property

In [43]:
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2] == '02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2] == '03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1] == '№ ':
        df.rename(columns={col:'#'+col[4:]}, inplace=True)

df.head()

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

## Querying a Dataframe
### Boolean Masking
a Numpy way to choose which data will be shown by having a boolean Dataframe or Series
and have a boolean value in it.

A point where it is true, the data will be retrained, else they are not. (shown as a NaN value)

To apply the boolean masking, we use `where` function that it takes Boolean Masking and apply it to Dataframe to let us choose which data we will want
and then returns a new dataframe of the same shape

In [44]:
only_gold_df = df.where(df['Gold'] > 0)
only_gold_df.head()

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0